<div class="d-flex">
  <!-- Esto habilida en el Boostrap que podamos utilizar el flexbox
  dentro de este div  -->

<!-- Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <!-- asignamos un color oscuro
         para que tenga un borde a la derecha
         un pading de tres puntos en cada lado -->
    <h3 class="text-light">
      <!-- definicmos como claro el color del texto de este h3 -->
      Gifs-App
      Modificacion para Git
    </h3>
    <hr class="text-white">
    <div class="list-group list-reset">
      <!--  define un grupo de li
            para que no tenga los bullet points -->
      <a href="#" class="list-group-item list-group-item-action">
        <!-- un # en el herf, le dindica que no nos direccionara a
        ningun lado al momento de hacer clic -->
        Dashboard
      </a>
    </div>
  </div>
  <!-- End Sidebar -->

  <div class="container">
    <!-- container para hacer una separación -->

    <!-- Trabajaremos con el sistema de rows y columns de Boostrap -->
    <div class="row p-3">
      <!-- Un pading para que tenga una separacion de 3 en todos los lados -->
      <div class="col">
        <h5>Buscar: </h5>
        <input type="text" class="form-control" placeholder="Buscar gifs...">
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi natus iusto libero nam sit repellat esse molestias nobis cum quae fugiat, officiis, quidem officia. Nulla beatae perspiciatis earum nihil deserunt.
      </div>
    </div>

  </div>
</div>